<strong>Login Route (Unprotected)</strong>

<p>This uses Firebase's <a href="https://www.firebase.com/docs/web/guide/simple-login/anonymous.html">anonymous authentication</a> for demonstration purposes but works the same with a username/password.</p>

<button type="button" {{ action "login" }}>Login</button>
